*, ::before, ::after { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2b2b2b;
    color: #f1f1f1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,h2,h3,h4,h5,h6 { margin: 0; line-height: 1; }
p { margin: 0; line-height: 1.6; }
a { text-decoration: none; outline: none; color: #f1f1f1; }
ul { list-style: none; padding: 0; margin: 0; }
img { max-width: 100%; }

main {
    margin: 0 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

// Cover Section

.cover-section {
    position: relative;
    background-image: url('../public/assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 80vh;
    margin-top: 15px;
    border-radius: 25px;
    overflow: hidden;
    .background-layor {
        height: 100%;
        background: rgba(61, 61, 61, 0.7);
        // .profile-grid {
        //     display: grid;
        //     grid-template-columns: 1fr 1fr;
        //     align-items: center;
        //     img {
        //         width: 300px;
        //         border-radius: 50%;
        //         filter: grayscale(100%);
        //     }
        // }
    }
}