*, ::before, ::after { box-sizing: border-box; }

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #2b2b2b;
    color: #ffffff;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,h2,h3,h4,h5,h6 { margin: 0; line-height: 1; }
p { margin: 0; line-height: 1.5; }
a { text-decoration: none; outline: none; color: #f1f1f1; transition: all 450ms ease; &:hover { color:#ec407a; } }
ul { list-style: none; padding: 0; margin: 0; }
img { max-width: 100%; }

a.active {
    color:#ec407a;
}

main {
    padding: 15px 15px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
    height: inherit;
    @media(max-width: 1280px) {
        max-width: 992px;
    }
}

// Cover Section

.cover-section {
    position: relative;
    background-image: url('../public/assets/img/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 85vh;
    margin-top: 15px;
    border-radius: 25px;
    overflow: hidden;
    border: 1px solid #E91E63;

    @media(max-width: 1080px) {
        max-height: 532px;
    }
    @media(max-width: 512px) {
        height: 100vh;
    }

    .background-layer {
        height: 100%;
        background: rgba(61, 61, 61, 0.7);
        // .container {
        //     height: inherit;
        // }
        .profile-grid {
            display: grid;
            grid-template-columns: 40% auto;
            align-items: center;
            height: inherit;
            h1 {
                font-size: 120px;
                span {
                    display: block;
                    line-height: 1;
                    transition: all 650ms ease;
                }
            }
            h3 {
                font-size: 34px;
                padding-bottom: 15px;
                padding-top: 20px;
            }
            p {
                font-size: 17px;
            }
            .cover-social-icons {
                span {
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    background-size: 30px;
                    margin: 15px;
                    &.fb {
                        background-image: url('./../public/assets/icons/fb-512.png');
                    }
                    &.tw {
                        background-image: url('./../public/assets/icons/twitter-512.png');
                    }
                    &.insta {
                        background-image: url('./../public/assets/icons/insta-512.png');
                    }
                    &.github {
                        background-image: url('./../public/assets/icons/github-512.png');
                    }
                    &.linkedin {
                        background-image: url('./../public/assets/icons/linkedin-512.png');
                    }
                }
            }
            @media(max-width: 1080px) {
                h1 {
                    font-size: 100px;
                }
                h3 {
                    font-size: 28px;
                }
                p {
                    font-size: 16px;
                }
            }
            @media(max-width: 512px) {
                grid-template-columns: 1fr;
                padding: 40px 0;
                h1 { font-size: 54px; }
                h3 { font-size: 20px; padding-top: 20px; }
                .cover-social-icons {
                    padding-top: 1.1em;
                    span {
                        margin: 10px;
                    }
                }
            }
        }
    }
}

// Sections

.background-layer {
    height: 100%;
    background: rgba(61, 61, 61, 0.7);
    &.darker {
        background: rgba(61, 61, 61, 0.9);
    }
}

section {
    position: relative;
    height: 90vh;
    margin-top: 15px;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;
    border: 1px solid rgb(233, 30, 99);
    background-size: cover;
    background-position: center;
    overflow: hidden;

    @media(max-width: 1080px) {
        max-height: 532px;
    }
    @media(max-width: 512px) {
        height: 100vh;
    }

    &.whatwedo {
        background-image: url('../public/assets/img/development.jpg');
    }
    &.technology {
        background-image: url('../public/assets/img/tech.jpg');
    }
    &.about {
        height: 85vh;
        background-image: url('../public/assets/img/developer.jpg');

        @media(max-width: 769px) {
            height: 100vh;   
            max-height: 667px; 
            .grid-container {
                &.about {
                    grid-template-columns: 1fr;
                    grid-gap: 20px;
                    text-align: center;
                    padding: 40px;
                }
            }
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
        height: inherit;
        &.about {
            grid-template-columns: 30% auto;
            grid-gap: 40px;
        }
        h1 {
            font-size: 120px;
            span {
                display: block;
                line-height: 1;
                transition: all 650ms ease;
            }
        }
        h3 {
            font-size: 34px;
            padding-bottom: 15px;
        }
        ul {
            list-style-type: disc;
            list-style-position: inside;
            li {
                font-size: 18px;
                padding-bottom: 5px;
            }
        }
        img {
            &.profile {
                border-radius: 50%;
                @media(max-width: 769px) {
                    width: 70%;
                }
                @media(max-width: 512px) {
                    width: 100%;
                }
            }
        }

        @media(max-width: 1080px) {
            h1 {
                font-size: 80px;
            }
            h3 {
                font-size: 26px;
            }
            p {
                font-size: 16px;
            }
        }
        @media(max-width: 512px) {
            grid-template-columns: 1fr;
            padding: 40px 0;
            h1 { font-size: 44px; }
            h3 { font-size: 20px; padding-top: 20px; }
            .cover-social-icons {
                padding-top: 1.1em;
                span {
                    margin: 10px;
                }
            }
        }
    }
}

.components {
    position: relative;
    height: 100%;
    margin-top: 15px;
    background-color: rgb(61, 61, 61);
    border-radius: 30px;
    border: 1px solid rgb(233, 30, 99);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}